<%= form_for(valuation) do |f| %>
  <% if valuation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(valuation.errors.count, "error") %> prohibited this valuation from being saved:</h2>

      <ul>
      <% valuation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asslib_id, "Asset/Liability" %>
    <%= collection_select(:valuation, :asslib_id, Asslib.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :year %>
    <%= f.select(:year) do %>
      <% for i in 2000..Time.now.year do -%>
        <%= content_tag(:option, i, value: i) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :period %>
    <%= f.select(:period) do %>
      <% [['Q1'], ['Q2'], ['Q3'],['Q4']].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :value %>
    $<%= f.text_field :value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
