<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @valuation.user_id %>
</p>

<p>
  <strong>Asslib:</strong>
  <%= @valuation.asslib_id %>
</p>

<p>
  <strong>Year:</strong>
  <%= @valuation.year %>
</p>

<p>
  <strong>Period:</strong>
  <%= @valuation.period %>
</p>

<p>
  <strong>Value:</strong>
  <%= @valuation.value %>
</p>

<%= link_to 'Edit', edit_valuation_path(@valuation) %> |
<%= link_to 'Back', valuations_path %>
