<p id="notice"><%= notice %></p>

<p>
  <strong>Asset/Liability:</strong>
  <%= @valuation.asslib.name %>
</p>

<p>
  <strong>Year:</strong>
  <%= @valuation.date.year %>
</p>

<p>
  <strong>Period:</strong>
  <%= @valuation.period %>
</p>

<p>
  <strong>Value:</strong>
  $<%= number_with_precision(@valuation.value, precision: 2, :delimiter => ',') %>
</p>

<%= link_to 'Edit', edit_valuation_path(@valuation) %> |
<%= link_to 'Back', valuations_path %>
