<%= form_for(asslib) do |f| %>
  <% if asslib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asslib.errors.count, "error") %> prohibited this Asset/Liability from being saved:</h2>

      <ul>
      <% asslib.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :altype, 'Asset/Liability' %>
    <%= f.select(:altype) do %>
      <% [['Asset', 'ASSET'], ['Liability', 'LIABILITY']].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
  </div>

  <% if !@asslib.new_record? %>
    <div class="field">
      <%= f.label :active %>
      <%= f.check_box :active, :checked => true %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :currency %>
    <%= f.select(:currency) do %>
      <% [['USD', 'USD'], ['CAD', 'CAD']].each do |c| -%>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
