<%= form_for(asslib) do |f| %>
  <% if asslib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asslib.errors.count, "error") %> prohibited this Asset/Liability from being saved:</h2>

      <ul>
      <% asslib.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :altype, 'Asset/Liability' %>
    <%= f.select(:altype,[],{},{:class => "form-control"}) do %>
      <% [['Asset', 'ASSET'], ['Liability', 'LIABILITY']].each do |c| -%>
        <%= content_tag(:option, c.first, selected: (c.last == asslib.altype ) ) %>
      <% end %>
    <% end %>
  </div>

  <% if !@asslib.new_record? %>
    <div class="form-group">
      <%= f.label :active %>
      <%= f.check_box :active, :checked => true, :class => "form-control" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :currency %>
    <%= f.select(:currency,[],{},{:class => "form-control"}) do %>
      <% [['USD'], ['CAD']].each do |c| -%>
        <%= content_tag(:option, c.first, selected: (c.last == asslib.currency)) %>
      <% end %>
    <% end %>
  </div>

  <div class="btn-group" role="group" aria-label="...">
    <%= f.submit 'Save', :class => "btn btn-primary active" %>
    <%= link_to 'Cancel', asslibs_path, :class => "btn btn-default" %>
  </div>

<% end %>
