<p id="notice"><%= notice %></p>

<h1>Asset and Liabilities</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Active</th>
      <th>Currency</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asslibs.each do |asslib| %>
      <tr>
        <td><%= link_to asslib.name, asslib %></td>
        <td><%= asslib.description %></td>
        <td><%= asslib.altype %></td>
        <td><%= asslib.active %></td>
        <td><%= asslib.currency %></td>
        <td><%= link_to 'Edit', edit_valuation_path(asslib), class: "btn btn-default btn-xs" %></td>
        <td><%= link_to 'Delete', asslib, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset/Liability', new_asslib_path, class: "btn btn-primary active" %>
