<!DOCTYPE html>
<html>
  <head>
    <title>Goalsaver</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header class="navbar navbar-fixed-top navbar-inverse">
    <nav>

    <%= link_to 'Goal Saver', root_path, id: 'logo' %>
    <%= link_to 'Goal Saver', root_path, id: 'logo' %>

    <% if signed_in? %>
      <div id="welcome-user">
          Signed in as <%= current_user.fname + ' ' + current_user.lname %>
      </div>
    <% end %>

    <ul class="nav navbar-nav navbar-right">
      <% if signed_in? %>
        <li><%= link_to 'Asset/Liabilities', asslibs_path %></li>
        <li><%= link_to 'Goals', goals_path %></li>
        <li><%= link_to 'Valuations', valuations_path %></li>
        <li><%= link_to 'Profile', edit_user_profile_path(current_user.id) %>/li>
        <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Sign in', sign_in_path %></li>
      <% end %>

    </ul>
    </nav>
  </header>

    <div class="container">


      <%= yield %>
    </div>

  </body>
</html>
